:root { 
--gray_900_14:#15223214; 
--gray_50_01:#fff6f3; 
--blue_A700:#1e5eff; 
--green_A700_01:#05a561; 
--green_A100:#c4f8e1; 
--gray_50:#f9f8f8; 
--amber_A400:#ffc600; 
--green_A400:#1fd286; 
--green_A700:#06a561; 
--black_900_01:#000000; 
--black_900:#070b1d; 
--yellow_800:#ffb71a; 
--red_A400:#ef142f; 
--blue_50_02:#ecf2ff; 
--blue_50_01:#d9e3ff; 
--blue_gray_900:#1e2753; 
--deep_purple_A200:#9747ff; 
--yellow_800_01:#efae1a; 
--yellow_100:#fff4c8; 
--gray_900_02:#151a25; 
--blue_gray_400:#7d83a3; 
--blue_gray_900_28:#262c4728; 
--blue_gray_600:#5a607f; 
--indigo_50:#e6e9f3; 
--gray_800:#494949; 
--gray_900:#121422; 
--gray_900_01:#131523; 
--blue_gray_600_01:#595f7e; 
--orange_500:#f89500; 
--indigo_A400_01:#4844e6; 
--gray_300:#d6daec; 
--gray_300_01:#d9e1ec; 
--blue_50:#ebf1ff; 
--gray_100:#f5f6fa; 
--indigo_200:#a1a7c4; 
--indigo_A700:#064bef; 
--gray_900_7e:#1214227e; 
--indigo_A400:#4844e5; 
--blue_100:#b5caff; 
--indigo_700:#3a4788; 
--white_A700:#ffffff; 
}